.form__error{
    max-width: 357px;
    position: absolute;
    top: 31px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: red;
    opacity: 0;
}

.form__error:last-of-type{
    top: 93px;
}